
<div class="ui menu">
  {{#if session.isAuthenticated}}
      {{#link-to 'index' class="item"}} Home {{/link-to}}
      {{#link-to 'clients.new' class="item"}} ADD CLIENT {{/link-to}}
      {{#link-to 'clients' class="item"}} Clients {{/link-to}}
      {{#link-to 'orders' class="item"}} Sell {{/link-to}}
      {{#link-to 'haircuts' class="item"}} Haircuts {{/link-to}}

      {{#if isAdmin}}
        {{#ui-dropdown class="item"}}
          Reports
          <i class="dropdown icon"></i>
          <div class="menu">
            <div class="item">
              <i class="dropdown icon"></i>
                Weekly
              <div class="menu">
                {{#link-to 'reports.weekly.person' class="item"}} By Person {{/link-to}}
              </div>
            </div>
          </div>
        {{/ui-dropdown}}
        {{#ui-dropdown class="item"}}
          Admin
          <i class="dropdown icon"></i>
          <div class="menu">
            {{#link-to 'products' class="item"}} Products {{/link-to}}
            {{#link-to 'users' class="item"}} Users {{/link-to}}
            {{#link-to 'staffs' class="item"}} Staff {{/link-to}}
          </div>
        {{/ui-dropdown}}
      {{/if}}
  {{/if}}
  <div class="right menu">
    {{#if location}}
      <div class="ui item">
        {{location}}
      </div>
    {{/if}}
    {{#if isOnline}}
    {{else}}
      <div class="ui red inverted active item">
        No internet connection
      </div>
    {{/if}}
    {{#if session.isAuthenticated}}
      <div class="link item" {{action 'logout'}}>
        Logout
      </div>
    {{else}}
      <div class="item">
        {{#link-to 'login'}} Login {{/link-to}}
      </div>
    {{/if}}
  </div>
</div>
