{{#ui-form validation=validation id="smallNewClientForm" submit=(action 'submit')}}
  <div class="field">
    <label>First Name</label>
    {{input type="text" name="first-name" placeholder = "First Name" value=firstName}}
  </div>
  <div class="required field">
    <label>Last Name</label>
    {{input type="text" name="last-name" placeholder = "Last Name" value=lastName}}
  </div>
  <button class="ui orange button">Save</button>
  <button class="ui button" {{action 'resetRecord'}}>Reset</button>
{{/ui-form}}
