{{#ui-modal class="small" }}
  <div class="header">
    {{title}}
  </div>
    <div class="content">
      <p>{{message}}</p>
    </div>
  <div class="actions">
    <div class="ui deny button"> No </div>
    <div class="ui approve button"> Yes </div>
  </div>
{{/ui-modal}}
