  <div class="row">
    <div class="column">
      <table class="ui table">
        <thead>
          <tr>
            <th>Barber</th>
            <th>Eftpos</th>
            <th>Cash</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          {{#each model as |report|}}
          <tr>
            <td>{{report.staff.name}}</td>
            <td>{{format-currency report.eftpos}}</td>
            <td>{{format-currency report.cash}}</td>
            <td>{{format-currency report.total}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
