<div class="ui grid">
  <div class="row">
    <div class="column">
      <div class='ui fluid input'>
        {{input type="text" name="search" placeholder = "Search.." value=clientFilter}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <div class="ui grid"  style="height: 150px; overflow: auto;">
        {{#each filteredClients as |client|}}
        <div class="row">
          <div class="column">
            <div class="ui fluid button" {{action 'selectClient' client}}>
              {{client.fullName}}
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>
