  <div class="ui fluid grid">
    {{#each items as |item| }}
      <div class="row">
        {{item-selection-item
          item=item
          makeSelected=(action 'makeSelected')
          isActive=item.isActive
          optionLabelPath=optionLabelPath}}
      </div>
    {{/each}}
  </div>
