<div class="ui middle aligned center aligned grid">
  <div class="six wide column">
    <h2 class="ui orange image header">
      <div class="content">
        Log-in
      </div>
    </h2>
    <div>
      {{#ui-form validation=validation id="loginForm" submit=(route-action 'authenticate')}}

        <div class="ui stacked segment">
          <div class="field">
            <div class="ui left icon input">
              <i class="user icon"></i>
              {{input value=username placeholder='Enter Login' class='form-control'}}
            </div>
          </div>
          <div class="field">
            <div class="ui left icon input">
              <i class="lock icon"></i>
              {{input value=password placeholder='Enter Password' class='form-control' type="password"}}
            </div>
          </div>
          <div class="ui fluid large teal submit button">Login</div>
        </div>
          {{#if errorMessage}}
            <p>
              <strong>Login failed:</strong>
              <code>{{errorMessage}}</code>
            </p>
          {{/if}}
      {{/ui-form}}
    </div>
  </div>
</div>
