{{application/application-menu}}

<div class="ui centered grid">
    <div class="row">
      <div class="center aligned column flash-message">
        {{#each flashMessages.queue as |flash|}}
          {{flash-messages flash=flash}}
        {{/each}}
      </div>
    </div>
    <div class="row">
      <div class="fourteen wide column">
        {{outlet}}
      </div>
    </div>
</div>
